/* set repeating page background image */
/* trying to kick folder renaming */
body {
    background-color: #696969;
    }
    
p {
    background-color: #696969;
    }
    
    {
    margin: 0;
    padding: 0;
    border: 0:
    font-size: 100%;
    font: inherit;
    }
    
html {
    width: 100%;
    }
    
h1 {
        width: 90px;
        height: 90px;
        display: block;
        background: images/csportrait.jpg right;
        float: right;
        text-indent: -999px;
        padding: 0;
    }    