@charset "UTF-8";
/* set repeating page background image */
/* trying to kick folder renaming */
/* css for menu bar */
#cssmenu,
#cssmenu ul,
#cssmenu li #cssmenu a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1;
}
#cssmenu {
  width: auto;
}
#cssmenu ul {
  background: #000000;
  border-radius: 4px;
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu a,
#cssmenu a:link,
#cssmenu a:visited {
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  color: #ffffff;
}
#cssmenu a:hover {
  color: #696969;
  text-shadow: 0 1px 1px #696969;
}
#cssmenu li {
  float: left;
  border-right: 1px solid #696969;
}
#cssmenu li:hover {
  background: #00ffff;
}

html { 
  background: url(../images/csnewpic.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* using webkit and moz because when i take it out things shift */

/* will use different background photo when I can use one I didn't take myself */

/* Is there a way to keep background photo on home page but have a plain background for pages after it? I have an idea about a way but not sure whether to try it and lose what's here */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
    
h1 {
    color: #00FFFF;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    font-size: 60px;
    line-height: 1.5em;
    
    margin: 0;
}
/* the lightest font weight I could find in the book was 100 but would like a way to make the h1 and h2 fonts lighter still */
p {
    color: #ffffff;
    }

h1 a {
        width: 90px;
        height: 90px;
        margin-left: 70%;
        float: right;
        text-indent: -999px;
        padding: 0;
    }    

h2 {
    color: #00FFFF;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 100;
    -webkit-font-smoothing: anti-aliased;font-size: 40px;
    line-height: 1.5em;  
    
    margin: 0;
}
/* h1 and h2 are both for logo in center of home page with name*/

h3 {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: normal;
    margin: 0;
}
/* h3 is for the pulldown menus at top of home page */

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.5em;
    width: 700px;
    font-weight: normal;
    padding: 10px;
    margin: 0;
}

/*float right*/
.right
{
    float: right; /*in text*/
    margin: 3px; /*space around photo*/
}

nav p, footer p {
    background-color: #000;
}
/* p is body type for remainder of text on site */
/* should body font be larger? */ 

footer {
    background-color: #000;
    font-size: 14px;
    color: #ffffff;
    padding: 20px;
}

footer ul {
    list-style-type: none;
    margin-top: 0;
    padding: 10px;
}

footer ul li {
    display: inline;
    margin-bottom: 10px;   
    text-transform:uppercase;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

.quarter {
    float: left;
    width: 22%;
}

.copyright {
    background-color: #000;
    clear: both;;
}
/* validated with W3C CSS validation service */