/* set repeating page background image */
/* trying to kick folder renaming */
@charset 'UTF-8';
/* css for menu bar */
#cssmenu,
#cssmenu ul,
#cssmenu li #cssmenu a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
}
#cssmenu {
  width: auto;
}
#cssmenu ul {
  zoom: 1;
  background: #000000 url(pattern.png) top left repeat;
  border-radius: 4px;
  border: 1px solid #000000;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu a,
#cssmenu a:link,
#cssmenu a:visited {
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  border-right: 1px solid #696969;
}
#cssmenu a:hover {
  color: #696969;
  text-shadow: 0 1px 1px #696969;
}
#cssmenu li {
  float: left;
  border-right: 1px solid #696969;
}
#cssmenu li:hover {
  background: #00ffff url(pattern.png) top left repeat;
}

body {
    background-color: #696969;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
    
h1 {
    color: #00FFFF;
    float: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    line-height: 1.5em;
    font-weight: 100;
    margin: 0;
}

p {
    background-color: #696969;
    color: #ffffff;
    }
    
    {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    }
    
h1 a {
        width: 90px;
        height: 90px;
        background: images/csportrait.jpg right;
        margin-left: 70%;
        float: right;
        text-indent: -999px;
        padding: 0;
    }    

h2 {
    color: #00FFFF;
    float: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 1.5em;  
    font-weight: 100;
    margin: 0;
}
/* h1 and h2 are both for logo in center of home page with name*/

h3 {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: normal;
    margin: 0;
}
/* h3 is for the pulldown menus at top of home page */

p {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5em;
    width: 480px;
    font-weight: normal;
    padding: 10px;
    margin: 0;
}
/* p is body type for remainder of text on site */
/* background on all pages charcoal gray, name color on layout or here? */ 

footer {
    background-color: #000;
    font-size: 14px;
    color: #ffffff;
    padding: 20px;
}

footer ul {
    color: #ffffff;
    list-style-type: none;
    margin-top: 0;
    padding: 10px;
}

footer ul li {
    margin-bottom: 10px;   
    text-transform:uppercase;
}

footer a {
    text-decoration: none;
}

.quarter {
    float: left;
    width: 22%;
}

.copyright {
    background-color: #000;
    clear: both;;
}

